### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.kotlin

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

src/bank_account/AccountDormantException.java
src/bank_account/AccountRepository.java
src/bank_account/DeductMaintenanceFeeUseCase.java
src/bank_account/Main.java
src/bank_account/MaintenanceFeeResults.java
src/bank_account/ResourceNotFoundException.java
src/bank_account/Service.java
